.center {
  max-width: 1000px;
  margin: auto;
  padding: 0 1.0875rem 1.45rem 1.0875rem;
}

.flex-content {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  padding: .5em;
  column-gap: 1em;
}

.main-btn {
  border: 1px solid;
  width: 8rem;
  text-align: center;
  margin: 1em auto;
}

.img-container {
  column-count: 2;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

.prj-text-cont {
  max-width: 960px;
  text-align: center;
  margin: auto;
  padding: 15px;
}

.callout {
  padding: 1em 1em 0 1em;
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: #6b6b6b;
  /* border-radius: 8px; */
  box-shadow: 1px 2px 2px black;
}

.callout-txt {
  padding-bottom: 0.9em;
}

.styled-link {
  text-decoration: none;
  color: inherit;
}

.main-container {
  display: grid;
  /* box-shadow: 1px 3px 3px black; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  height: 100vh;
}

.txt-overlay {
  position: absolute;
  max-width: 350px;
  text-align: center;
  opacity: 0;
  transition: 0.5s linear;
}

.img-overlay {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: 0.5s linear;
}
